.error-page {
  padding: 0 0.5em;
  height: calc(100vh - 304px);

  .error-text {
    color: $offWhite;
    text-align: center;
    margin-bottom: 2em;
  }

  .error-title {
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
  }

  .error-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;

    .primary-error-button {
      @extend .primary-button;
      text-decoration: none;
    }

    .secondary-error-button {
      @extend .secondary-button;
      text-decoration: none;
      margin-left: 0.5em;
    }
  }
}
